USE [DELIVERY_DB]
GO
/****** Object:  Table [dbo].[CAB_FACTURA]    Script Date: 19/7/2020 13:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAB_FACTURA](
	[id_cfactura] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[id_cliente] [int] NOT NULL,
	[id_estado_pago] [int] NOT NULL,
	[id_estado_envio] [int] NOT NULL,
	[ruc_emisor] [varchar](20) NULL,
 CONSTRAINT [PK_CAB_FACTURA] PRIMARY KEY CLUSTERED 
(
	[id_cfactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 19/7/2020 13:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[documento] [varchar](15) NULL,
	[nombres] [varchar](20) NULL,
	[apellidos] [varchar](20) NULL,
	[celular] [varchar](20) NULL,
	[correo] [varchar](40) NULL,
	[dirección] [varchar](60) NULL,
	[fecha_nac] [date] NULL,
	[usuario] [varchar](64) NULL,
	[password] [varchar](64) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_FACTURA]    Script Date: 19/7/2020 13:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_FACTURA](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_cFactura] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NULL,
	[subtotal] [decimal](6, 2) NULL,
 CONSTRAINT [PK_DETALLE_FACTURA] PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_ENVIO]    Script Date: 19/7/2020 13:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_ENVIO](
	[id_eEnvio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
 CONSTRAINT [PK_ESTADO_ENVIO] PRIMARY KEY CLUSTERED 
(
	[id_eEnvio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_PAGO]    Script Date: 19/7/2020 13:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_PAGO](
	[id_ePago] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
 CONSTRAINT [PK_ESTADO_PAGO] PRIMARY KEY CLUSTERED 
(
	[id_ePago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 19/7/2020 13:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[id_pcategoria] [int] NOT NULL,
	[nombre] [varchar](70) NOT NULL,
	[stock] [int] NOT NULL,
	[precio] [decimal](6, 3) NOT NULL,
	[imageUrl] [varchar](200) NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO_CATEGORIA]    Script Date: 19/7/2020 13:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO_CATEGORIA](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NULL,
 CONSTRAINT [PK_PRODUCTO_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CAB_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_CAB_FACTURA_CLIENTE] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[CAB_FACTURA] CHECK CONSTRAINT [FK_CAB_FACTURA_CLIENTE]
GO
ALTER TABLE [dbo].[CAB_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_CAB_FACTURA_ESTADO_ENVIO] FOREIGN KEY([id_estado_envio])
REFERENCES [dbo].[ESTADO_ENVIO] ([id_eEnvio])
GO
ALTER TABLE [dbo].[CAB_FACTURA] CHECK CONSTRAINT [FK_CAB_FACTURA_ESTADO_ENVIO]
GO
ALTER TABLE [dbo].[CAB_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_CAB_FACTURA_ESTADO_PAGO] FOREIGN KEY([id_estado_pago])
REFERENCES [dbo].[ESTADO_PAGO] ([id_ePago])
GO
ALTER TABLE [dbo].[CAB_FACTURA] CHECK CONSTRAINT [FK_CAB_FACTURA_ESTADO_PAGO]
GO
ALTER TABLE [dbo].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_FACTURA_CAB_FACTURA] FOREIGN KEY([id_cFactura])
REFERENCES [dbo].[CAB_FACTURA] ([id_cfactura])
GO
ALTER TABLE [dbo].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE_FACTURA_CAB_FACTURA]
GO
ALTER TABLE [dbo].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_FACTURA_PRODUCTO] FOREIGN KEY([id_producto])
REFERENCES [dbo].[PRODUCTO] ([id_producto])
GO
ALTER TABLE [dbo].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE_FACTURA_PRODUCTO]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_PRODUCTO_CATEGORIA] FOREIGN KEY([id_pcategoria])
REFERENCES [dbo].[PRODUCTO_CATEGORIA] ([id_categoria])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_PRODUCTO_CATEGORIA]
GO
